# Archivos ignorados
# Netbeans
build/
nbproject/
nbbuild/
dist/
nbdist/
build.xml
nbactions.xml
.nb-gradle/

# Java
*.class

# Package Files
*.jar
*.war
*.ear

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommmenders

# Eclipse core
.project

# Others
*~